.details-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}

.details-page .recipe-image {
  height: 350px;
  width: 100%;
}

.details-page .recipe-image-progress {
  filter: brightness(70%);
  height: 450px;
  width: 100%;
}

.details-page .favorite-button {
  background-color: var(--i-tertiary);
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
}

.details-page .share-button {
  background-color: var(--i-tertiary);
  border: none;
  border-radius: 5px;
  left: 20px;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.details-page .start-recipe {
  background-color: var(--i-secondary);
  border: none;
  color: var(--headline);
  font-size: 25px;
  padding: 5px 0;
}

.details-page .ingredients-list {
  align-self: flex-start;
  background-color: var(--i-main);
  font-size: 18px;
  padding: 20px 40px;
  width: 100%;
}

.details-page .instructions {
  background-color: var(--background);
  font-size: 18px;
  height: 50%;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.details-page .recipe-title {
  color: var(--i-main);
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 60px;
  z-index: 1;
}

.details-page .lista-checkbox {
  list-style: none;
}

.details-page .lista-checkbox .not-select {
  background-color: var(--i-secondary);
  padding: 5px 10px;
  width: 100%;
}

.details-page .lista-checkbox input {
  display: none;
  margin: 5px;
}

.details-page .end-recipe {
  background-color: var(--i-secondary);
  border: none;
  bottom: 0;
  color: var(--headline);
  font-size: 30px;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

.details-page .end-recipe:disabled {
  background-color: aqua;
}
