.footer {
  background: var(--i-secondary);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.footer button {
  border: none;
  background-color: transparent;
  padding: 5px 0;
}
