.recomendation {
  display: flex;
  width: 350px;
  overflow: scroll;
}

.recomendation-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recomendation-item img {
  height: 250px;
  width: 250px;
}